*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.box {
  position: relative;
  /* border: 1px dashed black; */
  padding-left: 30px;
  /* padding-right: 10px; */
  /* margin: 4px; */
  margin: 4px;
  margin-left: 112px;
}

.box::before {
  content: "";
  position: absolute;
  padding: 1px;
  z-index: 1;
  border: 1px solid;
  width: 110px;
  top: 45%;
  left: -108px;
  background-color: black;
}

.key {
  width: 120px;
  text-align: right;
  position: relative;
  margin: 4px;
  /* display: inline-block; */
  background-color: aquamarine;
  z-index: 2;
}

.key::before {
  content: "";
  position: absolute;
  padding: 1px;
  z-index: 1;
  left: 0;
  /* border: 1px solid; */
  height: 40px;
  background: -webkit-linear-gradient(top, transparent 50%, black 50%);
}
